body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: purple;
    font-size: xx-large;
}

/* # top heading är fortfarande en h1, men heter även detta för att differentiera att den är lite extra särskild. Det är alltså en class */
.top-heading {
    font-size: 40px;
    color: blueviolet;
}

p {
    color: hotpink;
}

h2 {
    color: purple;
}

h3 {
    color: hotpink;
}

h5 {
    color: hotpink;
}

/* a är ju länkarna då om du minns tihi*/
a {
    color: hotpink;
}

form {
    background-color: lightyellow;
}

blockquote {
    color: greenyellow;
    background-color: lightpink;

}

#ClickMeBitch {
    size: xx-large;
    color: lightseagreen;
    border: none;
    background-color: lightpink;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.välkommen-hit {
    background-color: lavenderblush;
    padding: 20px;
    width: 400 px;
}

.hela-kroppen-typ {
    background-color: azure;
    padding: 20px;
}

.hela-kroppen-typ img {
    width: 10%;
}

.vibe {
    background-color: hotpink;
}