/* ---------------------------------HEADER GENERAL------------------------------------------------*/
@font-face {
    font-family: chomsky;
    src: url('fonts/Chomsky.otf');
    font-weight: bold;
}

.grid-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    /* Adjust columns for logo, title, and nav */
    align-items: center;
    padding: 10px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    text-align: center;
}

.header-lines {
    text-align: center;
    position: relative;
}

/* Center the title between logo and nav */
.header-title {
    text-align: center;
    justify-self: center;
    /* Ensures the title is centered in the grid */
    grid-column: 1/-1;
    /* Make the title span all columns*/

}

/* Use the Newsreader font for the header title */
.header-title h1 {
    font-family: 'Chomsky';
    font-size: 3rem;
    margin: 0;
    /* Font smoothing */

}

.current-date {
    text-align: center;
    /* Center the date text */
    font-size: 1.2rem;
    /* Change font size as needed */
    margin-top: 10px;
    /* Space above the date */
}

/* ---------------------------------NAV BAR------------------------------------------------*/
.nav-links {

    text-align: center;
    grid-column: 1/-1;
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Space between links */
}

.nav-links ul li {
    margin: 0;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-links a:hover {
    text-decoration: underline;
    /* Underline on hover */
}


/* ---------------------------------MAIN CONTENT GRID------------------------------------------------*/